/* .contact-section */

.contact-section .contact-right {
  background-color: #84D3D4;
}

.contact-section .contact-left {
  background-color: #fff;
  padding-top: 20px;
}

.contact-section .contact-left h1.contact-us {
  color: #5d4b4d;
  font-family: mislab-compact-std,sans-serif;
  letter-spacing: 2px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  padding-bottom: 15px;
}

.contact-section .contact-left h1.get-in-touch {
  color: #5d4b4d;
  font-size: 38px;
  text-align: center;
  font-family: brandon-grotesque,sans-serif;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 100;
  padding-bottom: 25px;
}

.contact-section .contact-left .address-block {
  padding-bottom: 20px;
}

.contact-section .contact-left .address-block p.address-hours {
  font-family: tondo,sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  font-weight: 300;
}

.contact-section .contact-left .address-block p.address-hours-header {
  font-weight: 600;
}

.contact-section .contact-left .google-map {
  margin: 0 auto;
  width: 90%;
  height: 300px;;
}

.contact-section .contact-right .head-shots .title {
  font-family: mislab-compact-std,sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}

.contact-section .contact-right .head-shots .info {
  font-family: tondo,sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  font-weight: 300;
}

.contact-section .contact-right .head-shots .phone {
  color: #fff;
}

.contact-section .contact-right .head-shots img {
  margin: 50px auto 15px auto;
}

/* iOS and mobile device settings */
@media(max-width:767px) {
  .contact-section .contact-left h1.contact-us {
    font-size: 28px;
    padding-bottom: 5px;
  }

  .contact-section .contact-left h1.get-in-touch {
    font-size: 35px;
    line-height: 28px;
    font-weight: 200;
    padding-bottom: 5px;
  }

  .contact-section .contact-left .mobile-head-shots {
    margin: 0 auto;
    padding: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }

  .contact-section .contact-left .mobile-head-shots img {
    margin: 0 auto;
  }

  .contact-section .contact-left .mobile-head-shots .title {
    font-weight: 500;
  }

  .contact-section .contact-left .mobile-head-shots .info {
    font-weight: 300;
  }

  .contact-section .contact-left .google-map {
    margin: 0 auto;
    width: 90%;
    height: 300px;;
  }
}
