html {
    min-height: 100%;
    min-width: 100%;
    background-color: #82b3c9;
}
body, div, dl, dt, dd, ul, ol, li, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, a {
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    margin: 0;
    padding: 0;
    transform-origin: left top 0;
}

.btn-round-lg{
  border-radius: 22.5px;
}
.btn-round{
  border-radius: 17px;
}
.btn-round-sm{
  border-radius: 15px;
}
.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}
