/* footer */

.footer {
  height: 80px;
  background-color: #382d2e;
  text-align: center;
  color: #fff;
  font-family: brandon-grotesque,sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 16px;
  padding-top: 25px;
}
