
/* .intro-section */

.intro-section .intro-content .row, .intro-section .intro-image-banner img {
  margin: 0 auto;
}

.intro-section .intro-image {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 600px
}

.intro-section .intro-image .logo {
  padding-top: 200px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.intro-section .intro-image .slogan h1 {
  font-family: brandon-grotesque,sans-serif;
  font-size: 40px;
  color: #DA2922;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 300;
  line-height: 48px;
}

.intro-section .intro-content .cones-image {
  padding-bottom: 20px;
}

.intro-section .intro-content .cones-image img {
  float: right;
}

.intro-section .intro-content .title {
  background: #fff;
  letter-spacing: 2px;
  font-family: mislab-compact-std,sans-serif;
  line-height: 60px;
  font-size: 50px;
  color: rgb(93, 75, 77);
  text-align: left;
}

.intro-section .intro-content {
  background: #fff;
  padding-top: 30px;
}

.intro-section .intro-content .authentic {
  font-family: tondo,sans-serif;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  font-weight: 300;
}

.intro-section .intro-content .visit {
  font-family: brandon-grotesque,sans-serif;
  font-size: 34px;
  line-height: 41px;
  text-align: left;
  font-weight: 300;
}

.intro-section .intro-content .delivery {
  font-family: tondo,sans-serif;
  line-height: 17px;
  text-align: left;
  font-weight: 300;
}

.intro-section .intro-image-banner {
  background-color: #82b3c9;
}

.intro-section .intro-image-banner .col-xs-12 img {
  max-height: 255px;
}

/* iOS and mobile device settings */
@media(max-width:767px) {
  .intro-section .intro-image {
    height: 450px;
  }

  .intro-section .intro-image .slogan {
    padding-top: 350px;
  }

  .intro-section .intro-image .slogan h1 {
    font-size: 35px;
    line-height: 38px;
  }

  .intro-section .intro-content {
    padding-top: 0;
  }

  .intro-section .intro-content .title {
    font-size: 20px;
  }

  .intro-section .intro-content .authentic {
    font-size: 18px;
  }

  .intro-section .intro-content .visit {
    font-size: 20px;
    font-weight: 400;
  }

}

