/* .orders-section */

.orders-section h1.orders {
  color: #5d4b4d;
  font-family: mislab-compact-std,sans-serif;
  letter-spacing: 2px;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  padding-bottom: 15px;
}

.orders-section h1.products {
  color: #5d4b4d;
  font-size: 38px;
  text-align: center;
  font-family: brandon-grotesque,sans-serif;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 100;
  padding-bottom: 25px;
}

.orders-section .order-button-container {
  padding-top: 20px;
}

.orders-section .order-button-container .order-button {
    color: #fff;
    background-color: #84D3D4;
    font-family: brandon-grotesque,sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    width: 200px;
    height: 35px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.orders-section .order-button-container .order-button:hover,
.orders-section .order-button-container .order-button:focus,
.orders-section .order-button-container .order-button:active
{
    padding: 8px;
    width: 275px;
    height: 45px;
    font-size: 18px;
    background-color: #5d4b4d;
    color: #fff;
    border-radius: 22.5px;
}


/* iOS and mobile device settings */
@media(max-width:767px) {
  .orders-section h1.orders {
    font-size: 35px;
  }

  .orders-section h1.products {
    font-size: 22px;
    line-height: 28px;
    font-weight: 200;
  }
}

